@main(title = "Main"){
<div class="jumbotron">
    <h1>
        Scompo official site!
    </h1>
    <p>
        This is my personal site, developed with the
        <a href="http://www.playframework.com/" target="blank">Play! Framework</a>
        and <a href="http://getbootstrap.com" target="blank">Twitter Bootstrap</a>.<br>
        It contains a resume of my <a href="#">projects</a>.<br>
        Feel free to take a look around and I hope you'd enjoy and you'd find this somehow useful.
    </p>
</div>
}