@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>scompo-site - @title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="scompo site" name="description"></meta>
    <meta content="Mauro Scomparin" name="author"></meta>
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/bootstrap-glyphicons.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/template.css")" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse">
        <div class="container">
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
            <!-- the title it's still there when the navbar it's collapsed -->
            <a class="navbar-brand" href="#">scompo-site</a>
            <!-- Place everything within .navbar-collapse to hide it until above 768px -->
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Store</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div>
    <div class="row">
        <section class="content">@content</section>
    </div>
</div>
<!-- JavaScript plugins (requires jQuery) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</body>
</html>